*.iml
.gradle
/local.properties
/.idea
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
bin/
gen/
obj/
.settings
*~
local.properties
.DS_Store
build/
.gradle
/.idea/workspace.xml
/.idea/libraries
/captures
.idea/
*.iml